body{
  background: #FCFBF7 url(/images/bg_css_juiz.jpg) no-repeat fixed right bottom;)
}
div#wrapper{
  width: auto;
  height: auto;
  padding: 10px 20px;
}
div.tweet {
  width: 600px;
  height: 100%;
  margin: 10px 0px;
  padding: 5px;
  border: thin solid #222222;
  background-color: #ffffff;
  background-image: none;
  font-style: oblique;
}